# 11. Outros Operadores

## 11.1. Range

In [1]:
range(0, 15)

range(0, 15)

In [4]:
type(range(0, 3))

range

In [3]:
list(range(0, 15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [5]:
for x in range(0, 15):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [6]:
papeis = ['BRKM5', 'BRFS3', 'BPAC11', 'ITUB4', 'LWSA3', 'MGLU3']

In [7]:
papeis[0]

'BRKM5'

In [8]:
len(papeis)

6

In [10]:
list(range(0, len(papeis)))

[0, 1, 2, 3, 4, 5]

In [12]:
# Uma das principais funcionalidades

for i in range(0, len(papeis)):
    print(papeis[i])

BRKM5
BRFS3
BPAC11
ITUB4
LWSA3
MGLU3

In [13]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## 11.2. Enumerate


Função que transforma uma coleção de dados (lista, tupla, string) em um objeto enumerado de cada item da coleção.

In [14]:
enumerate(papeis)

In [15]:
type(enumerate(papeis))

enumerate

In [17]:
# Usando list com enumerate vai gerar uma lista de tuplas

lista_enumerate = list(enumerate(papeis))
lista_enumerate

[(0, 'BRKM5'),
 (1, 'BRFS3'),
 (2, 'BPAC11'),
 (3, 'ITUB4'),
 (4, 'LWSA3'),
 (5, 'MGLU3')]

In [18]:
lista_enumerate[0]

(0, 'BRKM5')

In [19]:
lista_enumerate[3]

(3, 'ITUB4')

In [21]:
type(lista_enumerate[3])

tuple

In [22]:
lista_enumerate[3][1]

'ITUB4'

* Podemos começar a enumeração a partir de outro número que não o 0

In [23]:
lista_enumerate_dif = list(enumerate(papeis, 3))
lista_enumerate_dif

[(3, 'BRKM5'),
 (4, 'BRFS3'),
 (5, 'BPAC11'),
 (6, 'ITUB4'),
 (7, 'LWSA3'),
 (8, 'MGLU3')]

Exemplo de enumerate sendo utilizado com str

In [32]:
acao = 'ITUB4'

In [33]:
enumerate(acao)

In [34]:
list(enumerate(acao))

[(0, 'I'), (1, 'T'), (2, 'U'), (3, 'B'), (4, '4')]

In [35]:
lista_caracteres = list(enumerate(acao))

In [36]:
lista_caracteres[0]

(0, 'I')

In [37]:
lista_caracteres[0][1]

'I'

Aplicação do enumerate

In [42]:
# Gerar "No índice XX o caractere é Y"

print(f'No índice {lista_caracteres[0][0]} o caractere é {lista_caracteres[0][1]}')
print(f'No índice {lista_caracteres[1][0]} o caractere é {lista_caracteres[1][1]}')
print(f'No índice {lista_caracteres[2][0]} o caractere é {lista_caracteres[2][1]}')
print(f'No índice {lista_caracteres[3][0]} o caractere é {lista_caracteres[3][1]}')
print(f'No índice {lista_caracteres[4][0]} o caractere é {lista_caracteres[4][1]}')

No índice 0 o caractere é I
No índice 1 o caractere é T
No índice 2 o caractere é U
No índice 3 o caractere é B
No índice 4 o caractere é 4

In [44]:
# Usando for 

for i in range(0, len(lista_caracteres)):
    print(f'No índice {lista_caracteres[i][0]} o caractere é {lista_caracteres[i][1]}')

No índice 0 o caractere é I
No índice 1 o caractere é T
No índice 2 o caractere é U
No índice 3 o caractere é B
No índice 4 o caractere é 4

In [45]:
# Usando enumerate

for i, j in enumerate(acao):
    print(f'No índice {i} o caractere é {j}')

No índice 0 o caractere é I
No índice 1 o caractere é T
No índice 2 o caractere é U
No índice 3 o caractere é B
No índice 4 o caractere é 4

## 11.3. Zip & In

A função zip consegue executar interações entre listas. O operador in permite a leitura sequencial de objetos zi´(assim como de listas), fundamental na estrutura 'for'

In [46]:
acoes = ['PETR4', 'WEGE3', 'MGLU3', 'JHSF3', 'GOAU4']
setores = ['Petroleo', 'Motores', 'Varejo', 'Construção', 'Metalurgia']

In [47]:
zip(acoes, setores)

In [50]:
empresa_setores = list(zip(acoes, setores))
empresa_setores

[('PETR4', 'Petroleo'),
 ('WEGE3', 'Motores'),
 ('MGLU3', 'Varejo'),
 ('JHSF3', 'Construção'),
 ('GOAU4', 'Metalurgia')]

Exercício: 
Cria uma frase que liga o papel ao seu setor. A frase deve ter o formato: "O papel XXXX pertence ao setor YYYY"

In [57]:
for i, j in empresa_setores:
    print(f"O papel {i} pertence ao setor {j}.")

O papel PETR4 pertence ao setor Petroleo.
O papel WEGE3 pertence ao setor Motores.
O papel MGLU3 pertence ao setor Varejo.
O papel JHSF3 pertence ao setor Construção.
O papel GOAU4 pertence ao setor Metalurgia.

In [59]:
# Uso do in

'VALE3' in acoes

False

## 11.4. Random

In [61]:
from random import randint, shuffle

**Randint**

A função randint() retorna um número aleatório dentro de um intervalo específico

In [62]:
randint(0, 100)

79

In [63]:
randint(0, 100)

42

Exercício:

Crie um loop que vai gerar 10 númerps aleatórios e armazene estes números numa lista

In [67]:
lista_num = []

while len(lista_num) < 10:
    lista_num.append(randint(0, 100))

lista_num

[68, 48, 59, 84, 9, 37, 38, 28, 68, 24]

In [69]:
lista_random = []

for x in range(0, 10):
    lista_random.append(randint(0, 100))

lista_random

[47, 12, 52, 49, 88, 96, 20, 43, 83, 79]

* Operador Shuffle

In [70]:
lista_ordenada = [0,1,2,3,4,5,6,7,8,9,10]

In [72]:
shuffle(lista_ordenada)
lista_ordenada

[1, 10, 9, 7, 2, 8, 5, 0, 3, 4, 6]

## 11.5. Min e Max

In [73]:
min(lista_ordenada)

0

In [74]:
max(lista_ordenada)

10

## 11.6. Input

In [76]:
acao = input('Insira a ação que deseja comprar: ')
print(f'Você comprou a ação de ticker {acao}.')

Você comprou a ação de ticker VALE3.