# 1. Introdução
---

In [15]:
print("Hello World!")
2+2

Hello World!

4

# 2. Operadores Aritméticos

---

1. Verificar preço de compra de 100 ações de PETR4 que custam R\$ 23.07 e 200 de VALE3 que custam R$ 85.75.

In [2]:
petr4 = 100 * 23.07
vale3 = 200 * 85.75
total = petr4 + vale3
print(total)

19457.0

2. Sabendo o valor total e o valor de compra de VALE3, quanto foi investido em PETR4?

In [3]:
valor_petr4 = total - vale3
print(valor_petr4)

2307.0

3. Tendo tais infos e supondo não saber a cotação de PETR4, calcule seu preço.

In [4]:
preco_petr4 = valor_petr4 / 100
print(preco_petr4)

23.07

4. Suponha que eu tenho R\$ 4000 na carteira, quantas ações de VALE3 eu consigo comprar?

In [11]:
q_vale3 = 4000 // 85.75
print(q_vale3)

46.0

5. Após comprar os papéis de VALE3, use o restante para comprar MGLU3 sabedo que sua cotação é R\$ 2.82.

In [13]:
p_mglu3 = 2.82
resto = 4000 - (85.75 * q_vale3)
q_mglu3 = resto // p_mglu3
print(q_mglu3)

19.0

* Potênciação

In [16]:
2**2

4

In [18]:
10**5

100000

# 3. Operadores Lógicos
---

### 3.1 Operadores Comparativos

* Igualdade ==
* Diferença !=
* Maior >
* Menor <
* Maior ou igual >=
* Menor ou igual <=

In [21]:
petr4

2307.0

In [22]:
vale3

17150.0

In [23]:
petr4 == vale3

False

In [24]:
novo_investimento_petr4 = vale3

In [25]:
novo_investimento_petr4 == vale3

True

In [26]:
novo_investimento_petr4 != vale3

False

In [27]:
novo_investimento_petr4 <= vale3

True

* Testar condições com strings

In [28]:
papel01 = "MGLU3"
papel02 = "LREN3"

In [29]:
papel01 == papel02

False

### 3.2 Operadores Condicionais

* E (and) (&)-> Tudo precisa ser True
* Ou (or) (|) -> Uma condição precisa ser True
* Não (not) -> Retorna False o que for True (e vice-versa)

In [44]:
num_mglu3 = 100
num_lren3 = 50
num_bbas3 = 200
num_petr4 = 100
num_vale3 = 200

In [45]:
num_vale3 > num_petr4 and num_mglu3 > num_lren3

True

In [46]:
(num_vale3 > num_petr4) and (num_mglu3 > num_bbas3)

False

In [47]:
(num_vale3 > num_petr4) & (num_mglu3 > num_lren3) & (num_vale3 > num_lren3)

True

In [48]:
(num_vale3 > num_petr4) or (num_mglu3 > num_bbas3)

True

In [49]:
(num_vale3 > num_petr4) | (num_mglu3 > num_bbas3)

True

In [50]:
not((num_vale3 > num_petr4) or (num_mglu3 > num_bbas3))

False

Operador de identidade

In [51]:
num_vale3 is num_petr4

False

In [52]:
num_vale3 is not num_petr4

True